body{
	background-color: black;
}
.wordContainer{

	
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: black;
}
h4{
	color: white;
}
h2{
	color: white;
}
.bigSquare{
	margin: auto;
	width: 350px;
	border : 7px solid;
	padding: 7px;
	border-color: black;


}

#square{
	height: 60px;
	width: 60px;
	border: 2px solid;
	border-color: darkgrey;
	
	border-radius: 1px;


}
#row {
	
	padding: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: black;
	
}
#wordle{
	text-align: center;
	font-family: Georgia;
    font-weight: 700;
    font-size: 37px;
    line-height: 100%;
    letter-spacing: 0.01em;
    text-align: center;
    left: 0;
    right: 0;
    pointer-events: none
}
.keyHolder{
	width: auto;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;


}
#keyLetters{
	color: white;
	text-decoration: none;
	font-family: Arial;
	height: 60px;
	width: 45px;
	border-radius: 5px;
	background-color: #818384;
	


}
#keyLetterd{
	color: white;
	text-decoration: none;
	font-family: Arial;
	height: 60px;
	width: 65px;
	border-radius: 5px;
	background-color: #818384;


}
.mainCont{

	display: flex;
	justify-content: center;
	padding: 5px;

}
#keyLetters{
	transition-duration: 0.4s;
}
#keyLetters:hover{
	background-color: white;
	opacity: 0.2;
	color: black;
}